body {
    color: rgb(252, 242, 229);
    background-color:rgb(34, 34, 34);
    fill: rgb(252, 242, 229); 
    text-align: center; 
    margin-left: 10%; 
    margin-top: .5in;
    margin-bottom: 1.5in;
    margin-right: 10%;
    font-family:"Raleway", sans-serif;
    line-height:150%;
}

emph {
    font-weight: bold;
}

#ImageGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#LeftElement{
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid rgb(252, 242, 229);
    text-align: right;
    padding: 10%;
}

#RightElement{
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid rgb(252, 242, 229);
    text-align: left;
    padding: 10%;
}